<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>About Me Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  
  </head>

  <body>
    <div class="sideBar"> 
      <div class="logoContainer">
        <div class="logo">
          M
        </div>
        <div class="appName">
          Movie Searcher
        </div>
      </div>
      <div class="linkContainer">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/interested"><li>Favorites</li></a>
          <a href="/contact"><li>Contact Me</li></a>
          <a href="/about"><li>About Me</li></a>
        </ul>
      </div>
      <footer>
        © Ryan's Awesome 2014
      </footer>
    </div>


    <div class="content">
      <div class="searchBar">

        <form action="/search" method="GET">
          <input type="text" name="movieTitle" placeholder="Search for other movie?" autofocus class="search"> 
          <input type="submit" class="submit">
        </form>
    </div>


      <div class="results">
        <div class="boss">
              <div class="text-center">
                <br>
                  <h3 class="page-header">About ME
                      <small>It's Nice to Meet You!</small>
                  </h3>
                  <h4>Wanna Know about the most awesome boss you'll ever lay eyes on?</h4>
                  <p class="lead">Well... take a look below!!</p>
                  <h4>THE BOSS</h4>
                  <img class="img-circle img-responsive img-center" src="/images/me.jpg" alt="">
                  <h5>Ryan Shim
                      <small>BOSS</small>
                  </h5>
                  <p>Gives you the very best.... GUARANTEEE</p>
                  <p>No other information needed...</p>
              </div>
          </div>
        </div>

</body>

</html>