<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>Contact PagePage</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  
  </head>

  <body>
    <div class="sideBar"> 
      <div class="logoContainer">
        <div class="logo">
          M
        </div>
        <div class="appName">
          Movie Searcher
        </div>
      </div>
      <div class="linkContainer">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/interested"><li>Favorites</li></a>
          <a href="/contact"><li>Contact Me</li></a>
          <a href="/about"><li>About Me</li></a>
        </ul>
      </div>
      <footer>
        © Ryan's Awesome 2014
      </footer>
    </div>


    <div class="content">
      <div class="searchBar">

        <form action="/search" method="GET">
          <input type="text" name="movieTitle" autofocus placeholder="Search for other movie?" class="search"> 
          <input type="submit" class="submit">
        </form>
    </div>
      
      <div class="results">
        <div class="container contact">
          <h2 class="page-header">Contact Me
            <small>Wanna get hired?</small>
          </h2>
          <h4 class="text-center">Think you have what it takes to work HERE!</h4>
          <p class="lead text-center">Well... Here are my contacts</p>
        <hr>
          <h3> RESUMES?</h3>
          <p>GOT an awesome resume you want me to THROW AWAY, please email me at:</p>
          <p><strong><a href="mailto:ryanshim92@gmail.com">ryanshim92@gmail.com</a></strong></p>
          <h3>Linkedin?</h3>
          <p>TRYING to connect with me on LINKEDIN?? Only to get REJECTED!! Please connect with me at:</p>
          <p><strong><a href="https://www.linkedin.com/pub/ryan-shim/97/b12/863">https://www.linkedin.com/pub/ryan-shim/97/b12/863</a></strong></p>
          <h3><i class="fa fa-code"></i> FACEBOOK?!</h3>
          <p>JUST wanna be friends???? Only to get IGNORED? Please add me at:</p>
          <p><strong><a href="https://www.facebook.com/ryan.shim.7">https://www.facebook.com/ryan.shim.7</a></strong></p>
        </div>
      </div>

</body>

</html>