<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>Home Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  
  </head>

  <body>
  <!-- My Awesome Side bar Navi System -->
    <div class="sideBar"> 
      <div class="logoContainer">
        <div class="logo">
          M
        </div>
        <div class="appName">
          Movie Searcher
        </div>
      </div>
      <div class="linkContainer">
        <ul>
          <a href="/" class="active"><li>Home</li></a>
          <a href="/interested"><li>Favorites</li></a>
          <a href="/contact"><li>Contact Me</li></a>
          <a href="/about"><li>About Me</li></a>
        </ul>
      </div>
      <footer>
        © Ryan's Awesome 2014
      </footer>
    </div>


    <div class="content">
      <div class="searchBar">
      <!-- form with the action Search goes to app.get /search  -->
        <form action="/search" method="GET">
          <!-- Sends name movieTitle we can pull this for info -->
          <input type="text" name="movieTitle" autofocus placeholder="Search for movie?" class="search"> 
          <input type="submit" class="submit">
        </form>
    </div>
      
      <div class="results">
        <div class="homePage text-center">
          <h1>Entertainment your way.</h1>
          <p class="lead">Search for your movies now!</p>  
        </div>
      </div>
  

  </body>
</html>